.content-toggle-wrapper {
  overflow: hidden;
  -webkit-transition: height 500ms ease;
     -moz-transition: height 500ms ease;
       -o-transition: height 500ms ease;
          transition: height 500ms ease;
  z-index: 1;
}

.content-toggle-gradient {
  z-index: 2;
  position: relative;
  height: 50px; 
  margin-top: -50px;
  overflow: hidden;
  // Background gradient set in plug-in
}

.content-toggle-link {
  display: block;
}

